asyncpg==0.29.0
fastapi==0.115.4
uvicorn==0.30.6
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
alembic==1.13.2
email_validator==2.2.0
pyjwt==2.9.0
python-multipart==0.0.18
passlib==1.7.4
redis==5.0.8
fakeredis==2.24.1
dependency-injector==4.42.0
sortedcontainers==2.4.0