asyncpg==0.29.0
fastapi==0.112.2
uvicorn==0.30.6
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
alembic==1.13.2
email_validator==2.2.0
python-jose==3.3.0
python-multipart==0.0.9
passlib==1.7.4
redis==5.0.8
fakeredis==2.24.1